<?php
// add this to your main application.config.php
// @link http://zf2.pp.ua/docs/ru/tutorials/config.advanced.html
'service_listener_options' => [
	[
		'service_manager' => 'ProjectPluginManager',
		'config_key'      => 'project_plugins',
		'interface'       => 'Ageme\Project\Service\Plugin\ProjectPluginProviderInterface',
		'method'          => 'getProjectPluginConfig',
	],
],

'service_manager' => [
	'factories' => [ // Important! You must use factory for compatibility with ZF3
		'AccessPluginManager' => 'Ageme\Project\Service\Plugin\ProjectPluginFactory',
	],
],
